<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mouse.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @mouse.price %>
</p>

<%= link_to 'Edit', edit_mouse_path(@mouse) %> |
<%= link_to 'Back', mice_path %>
